* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #777;
}

.upload-area {
    margin-bottom: 20px;
}

input[type="file"] {
    display: block; 
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;

}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #444;
}
